@font-face{
 font-family: Merriweather;
 font-style: normal;
 src: local('Merriweather-Regular'),
      local('Merriweather Regular'),
      url('../fonts/Merriweather-Regular.ttf') format('truetype');
}
@font-face{
 font-family: Merriweather;
 font-style: bold;
 src: local('Merriweather-Bold'),
      local('Merriweather Bold'),
      url('../fonts/Merriweather-Bold.ttf') format('truetype');
}
@font-face{
 font-family: Mulish;
 src: local('Merriweather-Regular'),
      local('Merriweather Regular'),
      url('../fonts/Mulish-Regular.ttf') format('truetype');
}
@font-face{
  font-family:Copse;
  src: local('Copse'),
       local('Copse-Regular'),
       local('Copse Regular'),
       url('../fonts/Copse-Regular.ttf') format('truetype');
}


/*Tipografias utilizadas*/
.merriweather{
font-family: Merriweather;
font-style: normal;
font-size: 26px;
line-height: 33px;
letter-spacing: 0.275em;
color: #FFFFFF;
}
.mulish{
font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
letter-spacing: 0.275em;
color: #FFFFFF;
}
.copse{
font-family: Copse;
font-style: normal;
font-weight: normal;
text-align:center;
font-size: 33px;
line-height: 41px;
color: #BFBFBF; 
}
.copse-22{
font-family: Copse;
font-style: normal;
font-weight: normal;
text-align:center;
font-size: 18px;
line-height: 22px;
color: #FAFFFE;
}



body{
background-color: rgb(  253, 241, 238  );
font-family: georgia, times, serif;
color: #F0FFFF;
margin: 0;
}

p {
margin-botton: 1.6em;
}

.container{
width: 85%;
max-width:90%;
margin: 0 auto;
}

.header{
background: #212121;
color: white;
/*height: 40px;*/ 
padding: 0.7rem 0;
position: fixed;
left: 0;
top: 0;
right: 0;
}

.header a{
  text-decoration: none;
  color: #e5dad8;
}
  
.logo-nav-container{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.logo{
  left: 100px;
  text-decoration: none;
}

.menu-icon{
display: none;
}

.navigation ul{
margin: 0;
padding: 0;
list-style: none;
}
.navigation ul li{
display: inline-block;
}
.navigation ul li a{
display: block;
padding: 0.5rem 1rem;
transition: all 0.4s linear;
border-radius: 5px;
}
    .navigation ul li a:hover{
    background: #212121 ;
    }

.footer{
background:  #6600CC;
padding: 4rem 0;
text-align: center;
margin-top: 6rem;
}

.main{
padding-top:10rem;
}


/*Panel superior del perfil & info*/
.top-panel{
background: url(../img/fondo1_svg.svg);
background-size:cover;
background-position:center;
left: 0%;
right: 0%;
top: 0%;
height: 677px;
bottom:78%; 
}
.foto-perfil{
position: relative;
width: 231px;
height:231px;
background: url(../img/foto-perfil.jpg);
background-size:cover;
background-position:center;
transform: translate(-50%,-100%);
left: 50%;
top: 50%;
border-radius: 130.5px;
}
.top-panel h1{
position: relative;
transform:translate(-50%, 0%);
left: 50%;
top: 13%;
}
.top-panel h2{
position: relative;
transform:translate(-50%, 0%);
left: 50%;
top: 10%;
}



@media only screen and (max-width: 767px){
.menu-icon{
display: block;
cursor: pointer;
padding: 0.5rem 1rem;
}

.navigation {
width: 100%;
margin-top:1rem;
}
.navigation ul{
display: none;
}
.navigation ul.show{
display: block;
}

.navigation ul li{
display: block;
}
.navigation ul li a{
display: block;
padding: 0.5rem 0;
transition: all 0.4s linear;
border-radius: 5px;
}
    .navigation ul li a:hover{
    background: #212121 ;
    }

}
